/*公共部分*/
.personal-data {
    background-color: #fafafa;
    padding: 2% 4.5%;
}
.personal-data > div {
    padding-top: 15px;
}
.personal-data > div > span {
    background: url("../img/vertical_bar.jpg") no-repeat left center;
    padding-left: 15px;
    color: #000000;
    font-weight: 900;
    font-size: 16px;
}
.personal-data > div > a {
    color: #ff9035;
    font-size: 13px;
    text-decoration: none;
}
/*基础信息部分*/
.basic-info > ul > li {
    padding-top: 12px;
    padding-bottom: 12px;
}
.basic-info > ul >li:first-child {
    padding-top: 25px;
}
.basic-info > ul >li:first-child img {
    width: 70px;
    margin-left: 40px;
}
.basic-info > ul > li > span {
    padding-left: 40px;
}
/*公司信息部分*/
.company-info > ul > li {
    padding-top: 12px;
    padding-bottom: 12px;
}
.company-info > ul >li:first-child {
    padding-top: 25px;
}
.company-info > ul > li > span {
    padding-left: 40px;
}

@media (max-width: 767px) {
    .personal-data {
        padding: 1% 4%;
    }
    .personal-data > div {
        padding-top: 1em;
    }
    /*基础信息部分*/
    .basic-info > ul > li {
        padding-top: .55em;
        padding-bottom: .55em;
    }
    .basic-info > ul >li:first-child {
        padding-top: 1.75em;
    }
    .basic-info > ul >li:first-child img {
        width: 70px;
        margin-left: 7%;
    }
    .basic-info > ul > li > span {
        padding-left: 7%;
    }
    /*公司信息部分*/
    .company-info > ul > li {
        padding-top: .55em;
        padding-bottom: .55em;
    }
    .company-info > ul >li:first-child {
        padding-top: 1.75em;
    }
    .company-info > ul > li > span {
        padding-left: 7%;
    }
}
/*屏幕宽度大于等于768px小于992px时,bootstrap row容器宽度750px*/
@media (min-width: 768px) and (max-width: 992px) {
}
/*屏幕宽度大于等于992px小于1200px时,bootstrap row容器宽度970px*/
@media (min-width: 992px) and (max-width: 1200px) {
}
/*屏幕宽度大于等于1200px时,bootstrap row容器宽度1170px*/
@media (min-width: 1200px) {
    /*所有不在媒体查询之内的样式都可视为在此之内*/
}