.loading{z-index:999;position:absolute;display: none;}
#alert-info{padding-left:10px;}
table{font-size:14px;}
.table button{margin-right:15px;}
.page-title{ padding-bottom: 5px;}
#feedback{display: none;}
#data{text-align: center;}