.personal-data {
    background-color: #fafafa;
    padding: 2% 4.5%;
}
.personal-data > div {
    padding-top: 15px;
}
.personal-data > div > span {
    background: url("../img/vertical_bar.jpg") no-repeat left center;
    padding-left: 15px;
    color: #000000;
    font-weight: 900;
    font-size: 16px;
}
.personal-data > div > a {
    color: #ff9035;
    font-size: 12px;
    text-decoration: none;
}