/*common文件里应该放置一些公共性质的，全局性质页面的css*/

body {
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    /*font-family: "Microsoft YaHei UI",Helvetica,Arial,sans-serif;*/
}

.change-row-margin {
    margin-left: -30px;
    margin-right: -30px;
}
body > section {
    min-height: 920px;
}
/*768px以下的样式，最小宽度为320px*/
@media (max-width: 767px) {
    body {
        font-size: 12px;
    }
}


