.select_block{
	float: left;
	height: 20px;
	width: 80px;
}
.select_block label input{
	display: none;
}
.input_checkbox{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #f0f0f0;
	cursor: pointer;
	padding-left:3px ;
}
.link_pwd{
	float: right;
}
.link_pwd a{
	color: #000002;
}
.btn_block .btn-default{
	color: #e59b44;
	border:1px solid #E59B44;
}
.btn_block .btn-default:hover{
	color: #FFFFFF;
	background:#E59B44;
}
