/******导航样式开始***********/
body{
	padding-top: 130px
}
.nav-fixd{
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 80px;
  font-size: 16px;
}
.naves{
  background: #ff9036;
  border-radius: 0;
  min-height: 45px;
  max-height: 45px;
}
.nav-content {
  display: inline-block;
  margin-bottom: 0;
}
.nav-content > li  {
  text-align: center;
  list-style-type: none;
  float: left;
  height: 43px;
}
.nav-content > li > a {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  line-height: 43px;
  text-decoration: none;
}
.nav-content > li > a:hover {
  color: #ff9035 !important;
}
.nav-content > li:nth-child(2n-1) {
  width: 125px;
}
.nav-content > li:nth-child(2n) {
  width: 47px;
}
.nav-content > li:nth-child(2n-1):hover {
  background-color: #ffffff;
}
#qili-navbar-collapse .open > a {
  background-color: #ffffff;
  color: #ff9035;
}

.qili-dropdown > li {
  border-bottom: 1px solid #f3f3f3;
}
.qili-dropdown > li > a {
  padding-left: 27px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
}
.qili-dropdown > li:hover {
  background: #ff9035;
  border: 1px solid #ff9035;
}
.qili-dropdown > li > a:hover {
  color: #ffffff !important;
  background: #ff9035;
}


@media (max-width:767px) {
  .nav-fixd{
    z-index: 9999;
    top: 50px;
  }
  .nav-content {
    width: 100%;
  }
  .nav-content > li > a {
    padding-left: 15px;
    line-height: 35px;
  }
  .nav-content > li:nth-child(2n-1) {
    width: 100%;
  }
  .naves button {
    background-color: #ffffff;
    border: none;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .naves button:hover {
    background-color: #ffffff !important;
  }
  .nav-content > li  {
    text-align: left;
    list-style-type: none;
    float: none;
    height: 35px;
  }
  .nav-opening {
    background-color: #ff9035;
    height: auto;
    overflow-y: visible !important;
  }
  .qili-dropdown {
    width: 100%;
    border-top: 2px solid #ff9035;
    border-left: 0;
    border-right: 0;
    border-right: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    /*box-shadow:1px 1px 1px #fefefe;*/
    font-size: 15px;
    color: #000;
  }
  .qili-dropdown > li {
    width: 100%;
  }
  .qili-dropdown > li > a {
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .nav-content > li:nth-child(2n-1) {
    width: 107px;
  }
  .qili-dropdown {
    min-width: 108px;
    max-width: 108px;
  }
}
@media (min-width:992px) and (max-width:1199px) {
  .nav-content > li:nth-child(2n) {
    width: 14px;
  }
}
@media (min-width:1200px) {
  .qili-dropdown {
    min-width: 126px;
    max-width: 126px;
    border-top: 2px solid #ff9035;
    border-radius: 0;
    margin: 0;
    padding: 0;
    /*box-shadow:1px 1px 1px #fefefe;*/
    font-size: 15px;
    color: #000;
  }
}

/*wang fei long start*/

/*wang fei long end*/


/******导航样式结束***********/
