.identity-info {
    padding: 0;
}
.identity-info-top {
    background-color: #f3f3f3;
}
.identity-info-top > a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    position: relative;
}
.identity-info-top > a:hover {
    background-color: #ff9035;
    color: white;
}
.identity-info-top > a:hover > span {
    display: block;
    /*定位*/
    position: absolute;
    top: 100%;
    left: 45%;
    z-index: 999;
}
/*画三角形*/
.triangle-down {
    width: 14px;
    height: 7px;
    border-top: 9px solid #ff9035;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    display: none;
}
.authentication-entrepreneur {
    background-color: #fafafa;
    padding: 3% 0 0 0;
}
.authentication-entrepreneur span {
    display: block;
    font-size: 16px;
    background: url("../img/vertical_bar.jpg") no-repeat left center;
    padding-left: 1em;
    margin: 0 0 5% 3%;
    color: #000000;
    font-weight: 900;
}

.authentication-entrepreneur a {
    display: block;
    width: 10em;
    color: #000000;
    margin: 8% auto 2% auto;
    background: url("../img/upload_normal.jpg") no-repeat left center /  1.2em 1.2em;
    padding-left: 1.9em;
}
.authentication-entrepreneur a:hover {
    background-image: url("../img/upload_active.jpg");
    text-decoration: none;
    color: #ff9035;
}
.authentication-entrepreneur p {
    font-size: 15px;
    width: 45%;
    color: #ba3d3b;
    margin: 0 auto;
    padding: 2% 0 7% 0;
}

.upload-project {
    background-color: #fafafa;
    padding: 3% 0 0 0;
}
.upload-project span {
    display: block;
    font-size: 16px;
    background: url("../img/vertical_bar.jpg") no-repeat left center;
    padding-left: 1em;
    margin: 0 0 5% 3%;
    color: #000000;
    font-weight: 900;
}

.upload-project a {
    display: block;
    width: 10em;
    color: #000000;
    margin: 8% auto 2% auto;
    background: url("../img/upload_normal.jpg") no-repeat left center / 1.2em 1.2em;
    padding-left: 1.9em;
}
.upload-project a:hover {
    background-image: url("../img/upload_active.jpg");
    text-decoration: none;
    color: #ff9035;
}
.upload-project p {
    font-size: 15px;
    width: 45%;
    color: #ba3d3b;
    margin: 0 auto;
    padding: 2% 0 7% 0;
}

@media (max-width: 767px) {
    .identity-info {
        padding: 0;
    }
    .authentication-entrepreneur span {
        font-size: 15px;
    }
    .authentication-entrepreneur p {
        width: 80%;
    }
    .upload-project span {
        font-size: 15px;
    }
    .upload-project p {
        width: 80%;
    }
}
/*屏幕宽度大于等于768px小于992px时,bootstrap row容器宽度750px*/
@media (min-width: 768px) and (max-width: 992px) {
}
/*屏幕宽度大于等于992px小于1200px时,bootstrap row容器宽度970px*/
@media (min-width: 992px) and (max-width: 1200px) {
}
/*屏幕宽度大于等于1200px时,bootstrap row容器宽度1170px*/
@media (min-width: 1200px) {
    /*所有不在媒体查询之内的样式都可视为在此之内*/
}

