/*公共部分*/
.my-company {
    background-color: #fafafa;
    padding: 2% 4.5%;
}
.my-company > div {
    padding-top: 15px;
}
.my-company > div > span {
    background: url("../img/vertical_bar.jpg") no-repeat left center;
    padding-left: 15px;
    color: #000000;
    font-weight: 900;
    font-size: 16px;
}
#submit_my_company {
    padding: .7em 2.5em;
}

/*修改信息部分*/
.form-horizontal .control-label {
    padding-top: 0;
    text-align: left;
    font-weight: normal;
}
.my-company-edit{
    margin-top: 30px;
}
/*768px以下的样式，最小宽度为320px*/
@media (max-width: 767px) {
    .my-company {
        padding: 1% 4%;
    }
    .my-company > div {
        padding-top: 1em;
    }
}
/*991px以下的样式*/
@media (min-width: 768px) and (max-width: 991px) {
}
/*1200px以下的样式*/
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
    .move-front {
        margin-left: -70px;
    }
}