body {
    padding-top: 110px;
}
.user-center {
    padding-top: 1.5em;
    width: 90%;
    font-size: 1.15em;
    margin:  0 auto 0 auto;
}
aside ul > li > a {
    color: #000;
    padding-left: 1.8em;
    background-size: 1.5em;
    background: no-repeat left center;
}

aside ul > li > a:hover {
    color: #ff9035;
    text-decoration: none;
}

aside ul > li {
    margin-bottom: 1.2em;
}

aside ul li:nth-child(1) > a {
    background-image: url("../img/ic-status-gray.png");
}
aside ul li:nth-child(2) > a {
    background-image: url("../img/ic-show-gray.png");
}
aside ul li:nth-child(3) > a {
    background-image: url("../img/ic-flag-gray.png");
}
aside ul li:nth-child(4) > a {
    background-image: url("../img/ic-pen-gray.png");
}
aside ul li:nth-child(5) > a {
    background-image: url("../img/ic-book-gray.png");
}
aside ul li:nth-child(6) > a {
    background-image: url("../img/ic-col-gray.png");
}
aside ul li:nth-child(7) > a {
    background-image: url("../img/ic-set-gray.png");
}
/************************/
aside ul li:nth-child(1) > a:hover {
    background-image: url("../img/ic-status-org.png");
}
aside ul li:nth-child(2) > a:hover {
    background-image: url("../img/ic-show-org.png");
}
aside ul li:nth-child(3) > a:hover {
    background-image: url("../img/ic-flag-org.png");
}
aside ul li:nth-child(4) > a:hover {
    background-image: url("../img/ic-pen-org.png");
}
aside ul li:nth-child(5) > a:hover {
    background-image: url("../img/ic-book-org.png");
}
aside ul li:nth-child(6) > a:hover {
    background-image: url("../img/ic-col-org.png");
}
aside ul li:nth-child(7) > a:hover {
    background-image: url("../img/ic-set-org.png");
}


/*移动端菜单*/
.mobile-aside {
    display: none;
}

@media (max-width: 767px) {
    .user-center {
        width: 100%;
        /*margin-top: 2em;*/
        padding-top: 0;
    }
    .nav-fixd {
        top: 50px !important;
    }
    .mobile-aside {
        display: block;
        max-width:100%;
        margin-top:  .8em;
        padding: 1em;
        background-color: #ffffff;
    }
    .mobile-aside > div > ul {
        padding: 0 3px;
    }
    .mobile-aside > div> ul > li {
        border-left:1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        line-height: 2.5em;
        margin-bottom: 0 !important;
        box-shadow:0 1px 1px #f0f0f0;
        background: url("../img/ic-triangle-grey.png") no-repeat 96.5% center;
    }
    .mobile-aside > div> ul > li:hover {
        background-color: #fafafa;
    }
    .mobile-aside > div> ul > li:nth-child(1):hover {
        background-color: #ff9035;
    }
    .mobile-aside > div > ul > li > a {
        padding-left: 3em;
        background-size: 1.5em;
        background: no-repeat 5% center;
        color: #333333;
    }
    .mobile-aside > div > ul > li {
        margin-bottom: 5px;
    }
    .mobile-aside > div > ul > li:nth-child(1) {
        border-top:1px solid #f3f3f3;
        background: #ff9035 url("../img/ic-triangle-w.png") no-repeat 96.5% center;
    }
    .mobile-aside > div > ul li:nth-child(1) > a {
        color: #ffffff;
        background-image: url("../img/ic-status-w.png");
    }
    .mobile-aside > div > ul li:nth-child(2) > a {
        background-image: url("../img/ic-show-gray.png");
    }
    .mobile-aside > div > ul li:nth-child(3) > a {
        background-image: url("../img/ic-flag-gray.png");
    }
    .mobile-aside > div > ul li:nth-child(4) > a {
        background-image: url("../img/ic-pen-gray.png");
    }
    .mobile-aside > div > ul li:nth-child(5) > a {
        background-image: url("../img/ic-book-gray.png");
    }
    .mobile-aside > div > ul li:nth-child(6) > a {
        background-image: url("../img/ic-col-gray.png");
    }
    .mobile-aside > div > ul li:nth-child(7) > a {
        background-image: url("../img/ic-set-gray.png");
    }
}
/*屏幕宽度大于等于768px小于992px时,bootstrap row容器宽度750px*/
@media (min-width: 768px) and (max-width: 992px) {
}
/*屏幕宽度大于等于992px小于1200px时,bootstrap row容器宽度970px*/
@media (min-width: 992px) and (max-width: 1200px) {
}
/*屏幕宽度大于等于1200px时,bootstrap row容器宽度1170px*/
@media (min-width: 1200px) {
    /*所有不在媒体查询之内的样式都可视为在此之内*/
}