.my-like-box a {
    text-decoration: none;
    color: #333333;
}
.my-like-box a:hover {
    text-decoration: none;
    color: #ff9035;
}
/*.my-like-box a:visited {*/
    /*text-decoration: none;*/
    /*color: #ff9035;*/
/*}*/
.my-like-box > p:first-child > a > span{
    display: inline-block;
    margin-right: 1em;
}
.my-like-box > p:first-child > a > span::before {
    content: "[";
    position: absolute;
    top: -1px;
    left: 8px;
}
.my-like-box > p:first-child > a > span::after {
    content: "]";
    position: absolute;
    top: -1px;
    left: 47px;
}
.my-like-box > p:first-child {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 15px;
    font-weight: 900;
}
.my-like-box > p:nth-child(2) {
    padding-left: 3em;
    background: url("../img/ic-col-gray.png") no-repeat 1.5% 30% / 18px 18px;
}
.my-like-box > p:nth-child(2)::before {
    content: "[";
    position: absolute;
    top: -2px;
    left: 38px;
}
.my-like-box > p:nth-child(2)::after {
    content: "]";
    position: absolute;
    top: -2px;
    left: 173px;
}

@media (max-width: 767px) {
}
/*屏幕宽度大于等于768px小于992px时,bootstrap row容器宽度750px*/
@media (min-width: 768px) {
}
.zxz-none{
    display: none;
}
.zxz-styled >div.active:nth-child(n){
    display: block;
}
.zxz-comment{
    color: #999999;
    white-space: normal;
    word-break: break-all;
}
.page-style{
    width: 100%;
    text-align: center;
}