.my-comment-box a {
    text-decoration: none;
    color: #333333;
}
.my-comment-box a:hover {
    text-decoration: none;
    color: #ff9035;
}
.my-comment-box > p:first-child {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 15px;
    font-weight: 900;
}
.my-comment-box > p:nth-child(2) {
    padding-left: 20px;
    color: #8f8f8f;
}
.my-comment-box > p:nth-child(2)::before {
    content: "[";
    position: absolute;
    top: -2px;
    left: 14px;
}
.my-comment-box > p:nth-child(2)::after {
    content: "]";
    position: absolute;
    top: -2px;
    left: 147px;
}

@media (max-width: 767px) {
}
/*屏幕宽度大于等于768px小于992px时,bootstrap row容器宽度750px*/
@media (min-width: 768px) {
}
